.itg-nav {
  height: 35px;
  width: 100%;
  border: 2px solid #e8e8e8;
}
.itg-nav ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.itg-nav ul li {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 20%;
  border-right: 1px solid #e8e8e8;
}
.itg-nav .notborder {
  border-right: 0px;
}
@media screen and (max-width: 576px) {
  .itg-nav {
    display: none;
    transition: height 1s;
  }
  .itg-nav ul {
    height: 100%;
    width: 100%;
  }
  .itg-nav-r {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 100%;
    transition: height 2.9s;
  }
}
